{% extends "base.html" %}

{% block content %}
<header class="masthead text-left text-white">
	<div class="container text-center text-white mb-5">
		<h1 class="masthead-heading mb-5" style="font-size:300%;">Dashboard</h1>
	</div>
	<div class="masthead-content">
		<div class="container mt-5">


					<div class="row">
						{% if not events %}
							<div class="col-auto mr-auto"><h2 >NO Events Organized by you, Join us and Create One!</h2></div>
							<div class="col-auto"><a href="{% url 'event-create' %}" class="btn btn-dark btn-lg rounded-pill mt-1">Create Event</a></div>

						{% else %}
						 	<div class="col-auto mr-auto"><h2 >Events I Organized:</h2></div>

						 <div class="col-auto"><a href="{% url 'event-create' %}" class="btn btn-dark btn-lg rounded-pill mt-1">Create Event</a></div>

				 	</div>

			<table class="table table-dark my-3 text-center table-bordered table-striped table-hover" >
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Location</th>
						<th scope="col">Capacity</th>
						<th scope="col">Tickects Left</th>
					</tr>
				</thead>
				<tbody>
					{% for event in events %}
						<tr>
							<th>{{event.title}}</th>
							<td>{{event.date}}</td>
							<td>{{event.time}}</td>
							<td>{{event.location}}</td>
							<td>{{event.capacity}}</td>
							<td>{{event.get_total_tickets}}</td>
							{% if event.organizer == request.user %}
								<td><a href="#" class="btn btn-primary btn-sm rounded-pill ">View</a></td>
								<td><a href="{% url 'event-update' event.id %}" class="btn btn-success btn-sm rounded-pill ">Edit</a></td>
								<td><a href="{% url 'event-delete' event.id %}" class="btn btn-danger btn-sm rounded-pill ">Delete</a></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>

		<div class="container">

				<div class="row">
					{% if not past_bookings %}
						<div class="col-auto mr-auto mt-5"><h2>No Events Attended, Book an Event!</h2></div>
						<div class="col-auto"><a href="{% url 'event-list' %}" class="btn btn-dark btn-md rounded-pill mt-5">Book an Event</a></div>
					{% else %}
						<div class="col-auto mr-auto mt-5"><h2 >Events I Attended:</h2></div>
				</div>
				<table class="table table-dark my-4 text-center table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
							<th scope="col">Location</th>
							<th scope="col">Tickects</th>
						</tr>
					</thead>
					<tbody>
						{% for attended in past_bookings %}
							<tr>
								<th>{{attended.event.title}}</th>
								<td>{{attended.event.date}}</td>
								<td>{{attended.event.time}}</td>
								<td>{{attended.event.location}}</td>
								<td>{{attended.tickets}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</header>
<div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div>
<div class="bg-circle-4 bg-circle"></div>


{% endblock %}
