{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-left text-white">
	<div class="masthead-content">
		<div class="container">

				<div class="row">
        {% if not events %}
           <div class="col-auto mr-auto"><h1>NO Events Found!</h1></div>

           <div class="col-auto">
             <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 rounded-pill" type="text" name='q' placeholder="Search for event...">
              <button class="btn btn-primary btn-lg rounded-pill " type="submit">Search</button>
            </form>
           </div>
        {% else %}
				 <div class="col-auto mr-auto"><h1>Events</h1></div>
         <div class="col-auto">
           <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 rounded-pill" type="text" name='q' placeholder="Search for event...">
            <button class="btn btn-primary btn-lg rounded-pill " type="submit">Search</button>
          </form>
         </div>

			 </div>


       {% for event in events %}

			<table class="table table-dark mb-5 text-center table-bordered table-striped table-hover " >

				<thead>
					<tr>
            <h4 class="mt-5">{{event.title}}</h4>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Location</th>
						<th scope="col">Capacity</th>
						<th scope="col">Tickets Left</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td>{{event.date}}</td>
							<td>{{event.time}}</td>
							<td>{{event.location}}</td>
							<td>{{event.capacity}}</td>
              {% if event.get_total_tickets == 0 %}
                <td>No Tickets left</td>
                {% else %}
                <td>{{event.get_total_tickets}}</td>

              {% endif %}

							{% if request.user.is_authenticated %}
                {% if event.get_total_tickets == 0 %}
                  <td><button type="button" class="btn btn-danger btn-sm rounded-pill" disabled>FULL</button></td>
                {% else %}
                  {% if request.user == event.organizer %}
                    <td>
                      <button type="button" name="button" href="{% url 'event-book' event.id %}" class="btn btn-info btn-sm rounded-pill" disabled>Book</button>
                      <td><a href="{% url 'event-detail' event.id %}" class="btn btn-success btn-sm rounded-pill">View Details</a></td>
                    </td>
                    {% else %}
                    <td><a href="{% url 'event-book' event.id %}" class="btn btn-primary btn-sm rounded-pill">Book</a></td>
                    <td><a href="{% url 'event-detail' event.id %}" class="btn btn-success btn-sm rounded-pill">View Details</a></td>
                  {% endif %}
                {% endif %}

							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
        {% endif %}
		</div>
	</div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
</header>



{% endblock %}
