{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-center text-white">
	<div class="masthead-content">
		<div class="container">
      <div class="col-auto mr-auto mb-5"><h1>Book A Ticket for {{event.title}}</h1></div>
			<div class="jumbotron">
				<form action="{% url 'event-book' event.id %}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form|crispy}}
              {% if user_booking.user == request.user %}
                <h4>You already have tickets for this Event!</h4>
                <input type="submit" value="Back to List of Events" class="btn btn-primary btn-xl btn-block rounded-pill mt-5">
              {% else %}
                <input type="submit" value="Book" class="btn btn-primary btn-xl btn-block rounded-pill mt-5">
              {% endif %}

					</form>
			</div>

		</div>
	</div>

	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>
	<div class="bg-circle-3 bg-circle"></div>
	<div class="bg-circle-4 bg-circle"></div>
</header>
</div>



{% endblock %}
