{% extends "base.html" %}

{% block content %}
<header class="masthead text-left text-white">
	<div class="masthead-content">
		<div class="container">

				<div class="row">
				 <h1 class="masthead-heading mb-0">Events</h1>
			 </div>
       {% for event in events %}
			<table class="table table-dark mb-5 text-center">

				<thead>
					<tr>
            <h4 class="mt-5">{{event.title}}</h4>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Location</th>
						<th scope="col">Capacity</th>
						<th scope="col">Tickects Left</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td>{{event.date}}</td>
							<td>{{event.time}}</td>
							<td>{{event.location}}</td>
							<td>{{event.capacity}}</td>
							<td>15</td>
							{% if request.user.is_authenticated %}

                  <td><a href="" class="btn btn-success btn-sm rounded-pill ">View Details</a></td>
                  <td><a href="" class="btn btn-primary btn-sm rounded-pill ">Book</a></td>

							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


</header>



{% endblock %}
