{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white">
	<div class="masthead-content">
		<div class="container">
			<h2 style="font-size:300%;">{{event.title}} Details</h2>
		</div>

		<div class="container mt-5">
      <div class="jumbotron rounded" style="background-color:#022E43; border-radius: 50px ; ">
        <div class="row justify-content-around">
          <div class="col-4">
            <h3>Organizer:</h3>
            <h5>{{event.organizer}}</h5>

          </div>

        </div>
        <div class="row justify-content-around mt-5">
          <div class="col-4">

          </div>
          <div class="col-4">

          </div>
        </div>
        <div class="row">
          <div class="col">
              <i class="far fa-calendar-alt fa-2x"> </i><h4>{{event.date}}</h4>
          </div>
          <div class="col">
            <i class="far fa-clock fa-2x" > </i><h4>{{event.time}}</h4>
          </div>
          <div class="col">
            <i class="fas fa-users fa-2x"> </i><h4>{{event.capacity}}</h4>
          </div>
        </div>
        <div class="row justify-content-around mt-4">
          <div class="col-4">

          </div>
          <div class="col-4">

          </div>
        </div>
        <div class="row  mt-4">
          <div class="col align-self-start">

          </div>
          <div class="col align-self-center">
            <div id='map' style='width: 700px; height: 380px;'></div>
              <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiYWxpLWliYXIiLCJhIjoiY2tmZHRoMnZqMXN1dzJ6cHBrYmtwNXV0NyJ9.s7kdZFWZUlyTQKPaiSG4VA';
                var map = new mapboxgl.Map({
                  container: 'map',
                  style: 'mapbox://styles/mapbox/streets-v11'
                });
              </script>
          </div>
          <div class="col align-self-end">

          </div>

        </div>


        <div class="row justify-content-around mt-4">
          <div class="col-4">
            <!--<i class="fas fa-map-marker-alt fa-2x"> {{event.location}}</i>-->

          </div>
          <div class="col-4">

          </div>
        </div>

        <div class="row justify-content-around mt-5">
          <div class="col-12">
            <h3>Description of the Event:</h3>
            <h5 style="text-align: left;">{{event.description}}</h5>
          </div>

        </div>
      </div>
		</div>
    {% if event.organizer == request.user %}

      <div class="container">
        <hr>
        <table class="table table-dark mt-1 text-center table-bordered table-striped table-hover" >
          <thead>
            <tr>
              <h2 class="mt-5 text-left">Information of people who booked tickets for your event:</h2>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Tickets Booked</th>
            </tr>
          </thead>
          <tbody>
            {% for  booking in event.bookings.all %}
              <tr>

                <td>{{booking.user}}</td>
                <td>{{booking.user.first_name}}</td>
                <td>{{booking.user.last_name}}</td>
                <td>{{booking.user.email}}</td>
                <td>{{booking.tickets}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

	</div>

	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</header>









{% endblock %}
