{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-left text-white">
	<div class="masthead-content">
		<div class="container">

				<div class="row">
        {% if not events %}
           <div class="col-auto mr-auto"><h1>NO Events Found!</h1></div>
           
           <div class="col-auto">
             <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 rounded-pill" type="text" name='q' placeholder="Search...">
              <button class="btn btn-dark btn-lg rounded-pill " type="submit">Search</button>
            </form>
           </div>
        {% else %}
				 <div class="col-auto mr-auto"><h1 >Events</h1></div>
         <div class="col-auto">
           <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 rounded-pill" type="text" name='q' placeholder="Search...">
            <button class="btn btn-dark btn-lg rounded-pill " type="submit">Search</button>
          </form>
         </div>

			 </div>


       {% for event in events %}
			<table class="table table-dark mb-5 text-center ">

				<thead>
					<tr>
            <h4 class="mt-5">{{event.title}}</h4>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Location</th>
						<th scope="col">Capacity</th>
						<th scope="col">Tickects Left</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td>{{event.date}}</td>
							<td>{{event.time}}</td>
							<td>{{event.location}}</td>
							<td>{{event.capacity}}</td>
							<td>{{event.get_total_tickets}}</td>
							{% if request.user.is_authenticated %}
                {% if event.get_total_tickets == 0 %}
                  <td><a href="" class="btn btn-danger btn-sm rounded-pill " disabled>FULL</a></td>
                {% else %}
                  <td><a href="" class="btn btn-success btn-sm rounded-pill ">View Details</a></td>
                  <td><a href="{% url 'event-book' event.id %}" class="btn btn-primary btn-sm rounded-pill ">Book</a></td>
                {% endif %}

							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
        {% endif %}
		</div>
	</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</header>



{% endblock %}
